<center><br><br>
<h1>신이 나를 만들 때</h1><br>
<img src = "http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65"><br><br>

<form action="/home/result">
  이름을 입력해 주세요 <br>
  <input type="text" name="username"><br><br>
  <input type="submit" value="Submit">
</form>
</center>